.page-bg-color{
  background-color: #F5F8FF;
}
/* header styles */
.inter-normal{
  font-size: 34px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  color: rgba(78, 71, 255, 1);
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: bold ; */
  font-style: normal;
  
}

.button-primary {
  
  background-color: #4E47FF;
   color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  /* width: 60px;
  height: 24px; */
  padding: 18px 36px;
  border-radius: 10px;

}

nav{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 50px;
}
.header-secondary-background{
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
  /* background-size: cover; */
  background-position: center;
  height: 1440px;
  weight: 100px;
  text-align: center;
}
.banner-title{
  max-width: 905px;
  height: 152px;
  font-weight: bold;
  font-size: 65px;
  text-align: center;
  color: #252432;
  /* padding-bottom: 85px; */
 padding-left: 120px;
}

.banner-content{
  
  align-items: center;
  justify-content: space-between;
   margin: 0 auto;
   padding: 2rem;
   max-width: 1200px;
}
/* card section */
.reviewer-img{
  
  border-radius: 50%;
  width: 90px;

  
}
.reviewer-avater{
  display: flex;
  gap: 2%;
}
.card{

width: 470px;
border: 2px solid #F2EDED;
border-radius: 10px;
padding: 10px;

}
.card-selection{
  display: flex;
 justify-content: center;
 gap: 5px;
}
.icon {
  font-size: 40px;
  color: #3498db;
  margin-bottom: 10px;
}
.fa-solid{
  color: darkorange;
}
/* action section styles */
.action{
  
  display: flex;
  justify-content: space-between;
  padding: 200px;

}

.action-title{
  font-size: 42px;
  font-weight: bold;
}
.action-description{
  font-size: 24px;
}
.mini-img{
  border-radius: 50px;
}
/* Productive-user */
.font-color-blue{
  color: rgba(78, 71, 255, 1);
}
.Productive-user{
  display: flex;
  text-align: center;
}
.user-banner {
  /* display: flex; */
  font-size: 45px;
  background-color: rgb(232, 227, 252);
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;
  margin: 200px;
  text-align: center;
  justify-content: space-between;
  
}
.user{
  display: flex;
  justify-content: center;
  gap: 2%;
  
}
/* .Productive-user{
  padding-left: 330px;
  text-align: center;
  gap: 15px;
} */
.ready-title{

  font-size: 50px;
  font-weight: bold;
}
.ready{
  text-align: center;
}
.ready-background{

  padding: 100px;
  background-color: #FFFFFF;
  margin: 71px 200px;
  border-radius: 20px;
}
.big-img{
 
  border-radius: 50px;
}
.font-2{
  font-size: 22px;
  color:rgba(37, 36, 50, 0.5);
}
.footer-1{
  margin: 150px;
  padding: 100px 100px;
  font-size: 50px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.lets-get{
  font-size: larger;
  padding-top: 100px;
}
.form-column{
  width: 50%;
display: block;
}

form input[type="text"], form input[type="email"], form textarea, button[type="submit"]{
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
  
}
/* .get-btn{
  padding-right: 585px;
  text-align: center;
} */
.footer-content {
  background-color: #FFFFFF;
text-align: center;
width: auto;
height: 220px;
}
.footer-link a{
gap: 50px;
text-decoration: none;

 color:rgba(37, 36, 50, 0.5);
}
.last-logo{
  font-size: 75px;

}
/* .footer-frame{
  text-align: center;
  width: 531px;
  height: 221px;
} */